body{
    text-align: center;
}
.container{
    width: 50%;
    background-color: brown;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 40px;
   margin-left: 400px;
 
}
.container .col-md-10 #error{
    width: 40%;
    background-color: white;
    color: black;
}