body{
    text-align: center;
}
.container{
    width: 50%;
    background-color: brown;
    border-radius: 5px;
    overflow: hidden;
   
 
}
#error{
   
    color:white;
}
.container h3{
    font-style: italic;
    margin-left: 120px;
}
.container h4{
    font-family: 'Oleo Script Swash Caps';
    text-align: center;
    font-style: italic;
     margin-left: 60px;
}
.form-group{
    margin-left: 100px;
}
#formGroupExampleInput{
    margin-top: 20px;
}
input ,button{
    display: inline;
    padding: 10px 20px;
}
#month, #day{
    width: 30%;
}
#year {
    width: 30%;
}
#btnSubmit{
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 150px;
    border: none;
}
#btnSubmit:hover{
    background-color: green;
}
#radiobtn{
    margin-left: 100px;
}
#gender{
    margin-left: 80px;
}

@media  only screen and(min-width:360px)
and (min-width:414)
and (min-width:480)
and (min-width:540)

{ .container{  
    text-align: center;  
    margin-top: 20px;
    margin-left: 400px;
     
    }
    }
    

@media screen 
and (min-width:1024px)
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1)  {
    .container{    
    margin-top: 20px;
    margin-left: 400px;
     
    }
}
